.wrapper {
  max-width: 70rem;
  gap: 2rem;
  align-items: center;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .wrapper {
    /* Quando for mobile deixar um padding nas laterais */
    padding: 0 1rem;
  }
}

.content {
  max-width: 46rem;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  margin-top: calc(0px - 1.5rem - 3px);
}

.content input {
  padding: 1rem;
  border-radius: 8px;
  border: 0;
  background-color: var(--gray-500);
  color: var(--gray-500);
  width: 100%;
}

.content button {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: var(--blue-dark);
  border-radius: 8px;
  border: 0;
  color: var(--gray-100);
  font-weight: bold;
  padding-right: 0.5rem;
}
