.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;

  justify-content: center;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .wrapper {
    /* Quando for mobile deixar um padding nas laterais */
    padding: 0 1rem;
  }
}

.content {
  max-width: 46rem;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  margin-top: calc(0px - 1.5rem - 3px);
}

.todo {
  padding-top: 4rem;
  width: 100%;
  max-width: 46rem;
}

.todoContainerWithTask {
  margin: 1.5rem 0;
}
